<section class="thirteen columns">
    <h1>ABOUT</h1>
    <article>
        <p>Hi. I'm POMY. Digital Artist, Solopreneur and Funjabi. I'm proud Muslim and Pakistani from Lyallpur. The city of Nusrat Fateh Ali Khan. I build first web page in 2008. Since then I'm doing Web Design work with simple, creative and affordable solutions. I do WordPress and bbPress — with love. WLTM like-minded clients for lawful paid work and long term business relationship. I charge $10 USD per hour. I love to handle challenging projects. I endorse old values with new teachnology for social change. I believe in success, in this world and hereafter through Qur'an and Sunnah. Fighting the evils, my part.
</p>
    </article>
</section>
