<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1><strong>Solopreneur</strong>, <em>Home</em></h1>
            <span><address>Faisalabad, UK</address><time>2010 to 2015</time></span>
        </header>
        
        
        <p>Working at home since 2010 as independent contractor. If you're interested to view my all past work, you can click flickr portfolio icon from left. Services are offer are below:</p><br />
<ul style="list-style-type: square;"><li><p>Website and Blog Design.</p>
</li><li><p>Help to buy and manage hosting, domain name and emails.</p>
</li><li><p>Online sales and marketing.</p>
</li><li><p>Corporate identity and branding (ask for samples).</p>
</li><li><p>Search engine optimization and submission.</p>
</li><li><p>Setting up Forums, Newsletters, Scripts and Tools on the Web.</p>
</li><li><p>Paid consulting on anything Web.</p></li></ul>
    </article>
    
    
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Glasgow, UK</address><time>2014 to 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
